dist: trusty

language: php

php:
  - 7.1
  - 7.2
  - 7.3

node_js:
  - "6"

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_script:
  - echo -e "Host localhost\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - ./tests/server/start_server.sh
  - sleep 5 # give server some time to start
  - travis_retry composer self-update
  - travis_retry composer update ${COMPOSER_FLAGS} --no-interaction --prefer-source

script:
  - phpunit --coverage-text --coverage-clover=coverage.clover

after_script:
  - php vendor/bin/ocular code-coverage:upload --format=php-clover coverage.clover
